html {
    background-color: darkslateblue;
    font-family: 'Shizuru', cursive;
}
body {
    background-color: aliceblue;
}
p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
}
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
h1 {
    font-size: 60px;
    text-align: center;
}
